@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.font{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
}
.gender{
  position: relative;
  align-items: center;
}
.primary{
  position:absolute;
  top: 15%;
  left: 30%;
  align-items: center;
  width: 40%;
  height: 30%;
}
.primarymail{
  position:absolute;
  top: 35%;
  left: 30%;
  align-items: center;
  width: 40%;
  height: 30%;
}
header{
  text-align:center;
}
.input {
  display: flex;
  width: 50%;
}
.label {
  display: block;
  text-align: left;
  padding-left: 30%;
}
.labeltwo {
  display: flex;
  text-align: left;
  padding-left: 30%;
}
Form{
  border: 1px solid #E8E8E8;
}
.otp{
  border: 1px solid #E8E8E8;
}
.otpbox{
  padding-left: 38%;
}
 
.button{
 
  position:absolute;
  top: 90%;
  left: 47%;
  width: 75px;
  height: 40px;
 
}
 
.buttondone{
  display: flex;
  position:absolute;
  top: 90%;
  left: 47%;
  width: 75px;
  height: 40px;
   
    
}
 
.buttonprev{
  display: flex;
  position:absolute;
  top: 90%;
  left: 52%;
  width: 77px;
  height: 40px;
  
}
 
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}   

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
